
.testSettingsForm {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    font-family: HelveNeuLigCon;  
}

textarea{
    border: 1px solid white !important;
    background-color: #19212A !important;
    border: none;
    color: white;
    font-size: 18px !important;
    font-family: HelveNeuLigCon !important;
}

label{
    display: flex !important;
    flex-direction: column !important;
    width: 500px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: HelveticaNeue; 

}

h2{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: right;
    justify-content: right 
  }
  

  .headingTwo {
      font-family: Helvetica-Bold; 
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    width: 65px;
    max-width: 100%;  
    max-width: 100%;
    padding-right: 20px; 
  }
  
  .image {
    flex-basis: 20%
  }
  
  .text {
    font-family: HelveticaNeue; 
    font-size: 30px;
    padding-left: -30px; 
  }
