
.testSettingsForm {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    font-family: HelveNeuLigCon; 
    border: 1px solid black; 
}

textarea{
    border: 1px solid white !important;
    background-color: #19212A !important;
    border: none;
    color: white;
    font-size: 18px !important;
    font-family: HelveNeuLigCon !important;
}

label{
    display: flex !important;
    flex-direction: column !important;
    width: 500px;
    margin-bottom: 40px;
    font-size: 15px;
    font-family: HelveticaNeue; 
    text-transform: uppercase;
}

h2{
    display: flex;
    justify-content: center;
}



