  .selfMessage {
    font-size: 15px !important;
    text-align: right;
  }

  .themMessage {
    font-size: 15px !important;
    text-align: left;
  }

  .messageDetailSpan{
    width: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 50px);
    margin-top: 15px;
  }
 
  .chatWindow {
    /* display: grid;
    grid-column-start: 0;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6; */
    background: rgb(233, 229, 229);
    border-radius: 5px;
    padding-top: 5px;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  /* M E S S A G E S */
  .chat {
    list-style: none;
    background: none;
    margin: 0; 
    max-height: 275px;
    overflow: scroll;
    scroll-behavior: smooth;
  }

  .chat li {
    overflow: hidden;
    display: flex; 
  }


  .self {
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 7px;
    margin-left: 40%;
  }

  .them {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7px;
    margin-right: 40%;
  }

  .them p{
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: rgb(14, 13, 18);
  }
  
  .msg {
    background: white;
    /* min-width: fit-content; */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .self p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: rgb(43, 46, 206);
  }

  /* T Y P E */
.chattextarea {
    width: 95%;
    height: 85%;
    background: #fafafa;
    border: none;
    outline: none;
    color: #666;
    font-size: 15px; 
    font-weight: 800;
    padding-left: 10px;
  }

  .chattextareadiv{
    height: 50px;
    width: 100%;
    margin-top: 8px;
    background: #fafafa;
    border-top: #666;
    border-top-width: 2px;
    border-top-style: double;
  }