

.beginIcon {
    color: #1E2A49; 
}

.iAgree{
    color: #1E2A49;
    font-family: HelveticaNeue; 
    font-size: small; 
}

.body {
    font-family: HelveticaNeue;  
    font-size: large; 
}

.checkboxDiv{
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
   
}