@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("../../fonts/HelveNeuCon") format("truetype");
}

@font-face {
  font-family: "Helvetica-Neue-Light";
  src: local("Helvetica-Light"), url("../../fonts/HelveNeuLigCon") format("truetype");
}

@font-face {
  font-family: "Helvetica-Medium";
  src: local("Helvetica-Medium"),
    url("../../fonts/HelveNeuMedCon") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: local("Helvetica-Bold"),
    url("../../fonts/HelveNeuThiExt") format("truetype");
}

* {
  font-family: 'Nunito Sans', HelveticaNeue;
}

html,
body,
#react-root {
  height: 100%;
}

body {
  /* font-family: HelveticaNeue;  */
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* .alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
} */

.formPanel {

  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input,
textarea {
  margin: 5px 0px 10px 0px;
}

h1 {
  /* font-family: Helvetica-Neue-Light; */
  font-size: 48px;
}

h2 {
  /* font-family: Helvetica-Medium; */
  font-size: 28px;
}

.btn-primary {
  background-color: #1E2A49;
  border-color: #1E2A49;
  color: white;
  border-radius: 5px !important;
  width: 100% !important;
  height: 48px;
  /* font-family: Helvetica-Bold!important; */
}

/* .btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  background-color: #28590c;
  border-color: #28590c;
  color: white;
  border-radius: 5px !important;
  width: 100% !important;
  height: 48px;
  font-family: Quicksand !important;
  box-shadow: 0 0 0 0.25rem rgba(167, 37, 210, 0.5);
} */

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #7FC1C5;
}

.btn-secondary {
  background-color: #7FC1C5;
  border-color: #7FC1C5;
  color: #fafcfb;
  border-radius: 5px !important;
  /* font-family: Helvetica-Bold !important; */
}

.buttonGroup {
  width: 80%;
}

a {
  /* font-family: HelveticaNeue; */
  font-weight: bold;
  color: black;
  font-size: 18px;
}

.ModalTitle {
  /* font-family: Helvetica-Bold; */
}

.modalBody {
  /* font-family: Helvetica-Medium; */
  font-size: 15px;
}

textarea:hover,
.shareModalInput:hover,
textarea:active,
.shareModalInput:active,
textarea:focus,
.shareModalInput:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 1px solid rgb(199, 199, 199) !important;
  border-right: none !important;
}

.fullWidthDiv {
  width: 100%;
}

.fakeAutocompleteInput {
  height: 48px;
  background-color: white !important;
  border: 1px solid #7FC1C5 !important;
  font-size: 18px;
  /* font-family: Helvetica-Light;  */
  padding: 0 80px 0 12px;
  margin-bottom: 0 10px;
  width: 90%;
}

.a100pxSpacer {
  height: 100px;
}

.a50pxSpacer {
  height: 50px;
}

.buttonInsideInput {
  margin-left: -70px !important;
  width: 10px !important;
}

.flexParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexParentVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socialFooterIcon {
  margin: 0 5px;
}

.backDrop {
  display: none;    
}

.compareModal {
  background-color: #ffffff;
  width: 80%;
  height: 85%;
  margin: auto;
  padding: 20px;
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.chatPlaceholderDiv {
  width: 300px;
  height: 400px;
  background-color: #e5eaf3;
  margin: 0 30px 0 30px;

  transition: .2s;
  border: .5px solid black; 
  color: #1E2A49; 
  /* font-family: Neue-Helvetica; */
  text-transform:capitalize;
  border-radius: 5px;
}

.helpIcon {
  width: 50px;
  height: 50px;
  padding: 0;
}

.largeImageDisplay {
  width: 500px;
  height: 500px;
  min-width: 500px;
  min-height: 500px;
  padding: 0;
}

.mediumImageDisplay {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  padding: 0;
}

.smallImageDisplay {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  padding: 0;
}

.tinyImageDisplay {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  padding: 0;
}

.tableImageDisplay {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
}

.roundImage {
  border-radius: 50%;
  padding: 0;
}

.blueBorder {
  border: 5px solid #1E2A49;
  padding: 0;
}

.blueBorderThicc {
  border: 8px solid #1E2A49;
  padding: 0;
}

.blueBorderThin {
  border: 3px solid #1E2A49;
  padding: 0;
}

.blueBorderDainty {
  border: 2px solid #1E2A49;
  padding: 0;
}

.registerButton {
  width: auto;
}

.tealBorderThin {
  border: 3px solid #7FC1C5;
  padding: 0;
}

.mr15 {
  margin-right: 15px;
}

.chatSendIcon {
  width: 32px !important;
  height: 32px !important;
  margin: 0 0 -8px -50px;
}

.blueColor {
  color: #1E2A49
}

.marginSides3 {
  margin: 0 3px;
}

.upperRhCornerParent {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;

  width: 100%;
}

.width50px {
  width: 50px;
}

.linkText {
  text-decoration: underline;
  color: #1E2A49;
}

.inputLimitSize {
  max-width: 272px;
}