body {
    margin: 0;
    /* font-family: 'Nunito Sans'; */
    font-size: 20px;
    background-color: black; 
  }
  
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:ital,wght@0,100;0,300;1,100&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: black;
  }


 