.questionCard{
    /* margin: 10px; */
    transition: .2s;
    border: .5px solid black; 
    color: #1E2A49; 
    font-family: Neue-Helvetica;
    text-transform:capitalize;
    margin: 10px 0px;
}

.questionCard:hover{
    border: 5px solid #7FC1C5;
    transition: .2s;
    cursor: pointer;
}

.buttonGroup{
    min-width: 500px !important;
}

.addQuestion {
    font-family: Helvetica-Neue-Light; 
    color: #1E2A49
}